/* You can add global styles to this file, and also import other style files */
html{
    background-color: #1E1E2F;
}
.style{
    background-color: #1E1E2F; /*main baclground color*/
    background-color: rgb(39, 41, 61); /*component baclground color*/
}